.ptl-options h2 {
	margin-top: 42px;
}
.ptl-options .ptl-refresh {
	font-size: 12px;
	margin-left: 12px;
}
.ptl-options li.info {
    display: inline-block;
    padding: 0 16px;
}
.ptl-options li.info.template,
.ptl-options li.info.new-line {
	padding: 0px;
	width: 100%;
}
.ptl-options li.info:first-child {
	padding-left: 0px;
}